*.o
compile
pg-cop-hypervisor
*.out
*.files
*.orig
*~
*.so
\#*\#
Makefile
configure
ltmain.sh
INSTALL
install-sh
Makefile.in
configure.in
config.h
*.m4
*.cache
depcomp
.libs
missing
config.guess
config.sub
COPYING
*.so.*
config.log
config.status
.deps
*.la
*.lo
libtool
stamp-*